
body {
    background: url("../Images/pexels-photo-730286.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 40px;
}


h1 {
   font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: center;
}

.gameArea {
    position: relative;
    z-index: 1;
    width: 35%;
    max-width: 500px;
    background-color: #e6d8d2;
    color: black;
    border-radius: 5px;
    border: 2px solid darkslategrey;
    padding: 20px;
    opacity: .7;
    margin-top: 17%;
    
}

#newGame {
    margin-top: 15px;
}


